
.App {
  text-align: center;
  font-family: 'Swanky and Moo Moo', cursive;
}

.App-header {
  background-color: #374953;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header {

}

.top-title {
  font-family: Swanky and Moo Moo;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  text-align: center;

  color: #FFFEFE;
}

.sub-title {
  font-family: Swanky and Moo Moo;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  text-align: center;

  color: #FFFEFE;

}

.logo{
  position: absolute;
  width: 151px;
  height: 113px;
  mix-blend-mode: lighten;
}

#img1{
  position: absolute;
  left: 18%;
}

#img2{
  position: absolute;
  left: 70%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}


button {
  background: #EA49EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
  border-radius: 20px;
  border: none;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  color: #FFFEFE;

}

input {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  margin-left: 1%;
  margin-right: 2%;

  background: #C4C4C4;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputBar{
  position: absolute;
  top: 30%;
  left: 0%;
  height: 20%;
  width: 100%;
  flex-direction: row;

  font-size: 24px;

} 

.allPostings {
  position: absolute;
  top: 40%;
  left: 0%;
  flex-direction: row;
  display: 'flex';
  flexWrap: 'wrap';
}

.posting {
  background-color: #6D7A81;
  display: flex;
  width: 300px;
  height: 300px;
  margin: 20px; 
  justify-content: space-around;
  border-radius: 25px;
  margin-left: 50px;
}

.drinkName {
  position: relative;
  top: 25px;
  left: 25px;
  text-align: center;

  font-family: PT Sans;
  font-weight: bolder;
  font-size: 25px;
  color: white;
}

.drinkRecipe {
  position: relative;
  height: 100px;
  width: 100px;
  top: 200px; 

  font-family: PT Sans;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.drinkImage {
  position: relative;
  margin-top: 20px;
  width: 100px;
  height: 120px;
}

.editOrDeleteButtons {
  position: relative;
  top: 200px;
  left: 0px;
}